<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text">Filtro: </span>
      <input type=" text" class="form-control" placeholder="Filtrar por tema e local" [(ngModel)]="filtroLista">
    </div>
    <div class="ms-3">
      <a class="d-flex btn btn-outline-primary btn-sm align-items-center" routerLink="/eventos/detalhe">
        <i class="fa fa-plus-circle"></i>
        <b class=" ms-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th class="d-none d-md-table-cell">
          <button type="button" class="btn btn-outline-light btn-sm" (click)="alterarImagem()">
            <i class="{{!exibirImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
            {{!exibirImagem ? 'Exibir' : 'Ocultar'}}</button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Qtd Pessoas</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody class="table-hover mt-5" *ngIf="eventos.length > 0">
      <tr *ngFor="let evento of eventosFiltrados" (click)="detalheEvento(evento.id)" style="cursor: pointer;">
        <td class="d-none d-md-table-cell">
          <div [collapse]="!exibirImagem" [isAnimated]="true">
            <img [src]="returnImage(evento.imagemURL)" [style.max-width.px]="150" [style.max-height.px]="55"
              [style.margin.px]="2">
          </div>
        </td>
        <td>{{evento.id}}</td>
        <td>{{evento.tema}}</td>
        <td class="d-none d-md-table-cell">{{evento.local}}</td>
        <td>{{evento.dataEvento | datetimeformatpipe}}</td>
        <td class="d-none d-md-table-cell">{{evento.qtdPessoas}}</td>
        <td class="d-none d-md-table-cell">{{evento.lotes[0]?.nome}}</td>
        <th>
          <button type="button" class="btn btn-primary btn-sm me-2 d-none d-md-table-cell" tooltip="Editar">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir"
            (click)=" openModal($event, template, evento.id)">
            <i class="fa fa-trash-alt"></i>
          </button>
        </th>
      </tr>
    </tbody>
    <tfoot *ngIf="eventos.length == 0">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja deletar o Evento de Código {{eventId}}? </p>
    <button type="button" class="btn btn-default" (click)="confirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="declineDelete()">Não</button>
  </div>
</ng-template>
